<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style3.css">
</head>
<body>
    <h1>Resume<h1>
        <div class="first">
            <p>NAME:Ruf Ahmed.A <br>

3/526-b, Back of police quarters, Ragavendra nagar,                                              
Bagalur (PO), Hosur (T), Krishnagiri (D), Tamil Nadu (S) – 635103 <br>                                    
rufahmed026@gmail.com          <br>
<span>Education Background:  </span> <br>
 <ul>
    <li>Perusing B.E. Electrical Communication Engineering at Hosur, Adhiyamaan College of Engineering with 7.78 CGPA up to 5th semester, 2021. </li> <br>
    <li> Completed DIPLOMA, Electronics and communication engineering at Hosur, Adhiyamaan polytechnic college with 86% marks, 2018.  </li>   <br>
    <li>Completed SSLC at Bagalur, ST.ANNES Matriculation School with 86.2% marks, 2015 </li> <br>
                                                                                   
</ul>

    <span>Technical Knowledge: </span><br>
<ul>
<li>Good knowledge of Microsoft office, operating system.</li>
<li>C Programming, Knowledge of basics of Java. </li>

</ul>
            </p> 
        </div>
       
        
</body>
</html>