html{
    background: grey;
}
h1{
    text-align: center;
    font-variant: small-caps;
}
body{
    height: 800px;
    width: 800px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first{
    text-align: justify;
  
    font-size: 20px;
    height: 725px;
    width: 50%;
    display: absolute;
    background: teal;
    float: left;

}
span{
    text-decoration: underline;
}
